<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
         xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Gateless Gate Sharp Bundle" Version="1.3.8" Manufacturer="Zawawa Software LLC" UpgradeCode="cfaf8b75-a167-4a3a-b0dc-b6a6f05c50f0">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        ThemeFile="HyperlinkTheme.xml"
        LocalizationFile="HyperlinkTheme.wxl"
        xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" />
    </BootstrapperApplicationRef>

    <Chain>
      <PackageGroupRef Id="NetFx471Redist"/>
      <ExePackage Id="VC2017RedistributableSetup"
                  SourceFile="$(var.SolutionDir)Prerequisites\VC_redist.x64.exe"
                  PerMachine="yes"
                  InstallCommand="/install /passive /norestart"
                  RepairCommand="/repair /passive /norestart"
                  UninstallCommand="/uninstall /passive /norestart"
                  Permanent="no"
                  Vital="yes" />
      <MsiPackage Id="GatelessGateSharpSetup"
                  SourceFile="$(var.WiXSetup.TargetPath)"
                  DisplayInternalUI="yes"
                  Permanent="no"
                  Vital="yes"
                  Visible="yes"/>
    </Chain>

	</Bundle>
</Wix>
