<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp5B10929762EB39865B06B403922ED3D7" Guid="*">
                <File Id="fil53634CF0B58612BAD0C68575E81A55BC" KeyPath="yes" Source="$(var.HarvestPath)\bios0007.log" />
            </Component>
            <Component Id="cmp16CB201398DCF7F5BF81B25456528975" Guid="*">
                <File Id="filF54BFEDEDD79D76B8C96299039078DAD" KeyPath="yes" Source="$(var.HarvestPath)\bios0013.log" />
            </Component>
            <Component Id="cmpA8DE19DC552E3BCD08DDD88DE2C5CAE8" Guid="*">
                <File Id="fil6BF3A980E0A2B68CC7249613CC1773BF" KeyPath="yes" Source="$(var.HarvestPath)\ehash.bin" />
            </Component>
            <Component Id="cmp69591F30184324681A0EF8373EA9D2A6" Guid="*">
                <File Id="filC38C7164BB644943D4E7CABCE338C149" KeyPath="yes" Source="$(var.HarvestPath)\GatelessGateSharp.exe" />
            </Component>
            <Component Id="cmp8400620DECF2655151D483066AD25190" Guid="*">
                <File Id="filBAF418B69B88411C99D6196ED5F26950" KeyPath="yes" Source="$(var.HarvestPath)\GatelessGateSharpMonitor.exe" />
            </Component>
            <Component Id="cmp3464F8730E573D338954EC7195CFB4A4" Guid="*">
                <File Id="fil73F07CE42A5EF653313AD307E0E68BDC" KeyPath="yes" Source="$(var.HarvestPath)\HtmlAgilityPack.dll" />
            </Component>
            <Component Id="cmp771DEE5999A37C1474BA4C695E6F9046" Guid="*">
                <File Id="fil9C537011C9FFBB5268252CE48510EE31" KeyPath="yes" Source="$(var.HarvestPath)\IPAddressRange.dll" />
            </Component>
            <Component Id="cmp60805430DA62A620ADC712537D30F06A" Guid="*">
                <File Id="filDB1D736833CDA4D30509594A7B6D0162" KeyPath="yes" Source="$(var.HarvestPath)\LiveCharts.dll" />
            </Component>
            <Component Id="cmp71593FBA29491CED3DC58E994BB05D4F" Guid="*">
                <File Id="filC1AADD7ED7459377800B2C49468F90F5" KeyPath="yes" Source="$(var.HarvestPath)\LiveCharts.WinForms.dll" />
            </Component>
            <Component Id="cmpB80EB57EF2904D1A74E508B15C150404" Guid="*">
                <File Id="filCBE997A6CD849E4DF004F21120DE6B94" KeyPath="yes" Source="$(var.HarvestPath)\LiveCharts.Wpf.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="*">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.HarvestPath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpEFB368FCE043485F0641DD456E80FCFD" Guid="*">
                <File Id="fil62E0058329145C12414CC60D0BB6EFB8" KeyPath="yes" Source="$(var.HarvestPath)\nvml.dll" />
            </Component>
            <Component Id="cmp28FB22B28D9FFBC15D2050E172F311EF" Guid="*">
                <File Id="fil332410B9E51FC54273C1CDAD2676A750" KeyPath="yes" Source="$(var.HarvestPath)\phymem.sys" />
            </Component>
            <Component Id="cmp46AD2A71B79D2F1399F269A08A3249D2" Guid="*">
                <File Id="fil639D7C1056145B7EEA780175AB862984" KeyPath="yes" Source="$(var.HarvestPath)\PhyMemWrapper.dll" />
            </Component>
            <Directory Id="dir22FAE88A4BAEC7F547ECAEC36FEE3966" Name="AssemblyKernels">
                <Component Id="cmpE4E45A049C516CBDEFB44E39E6BBAA0A" Guid="*">
                    <File Id="filC314F51A97E9E5C45122E0069BF3429B" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN3_ethash_GenerateDAG.isa" />
                </Component>
                <Component Id="cmp1D9FB55DD5BDB00D013752713BAA3FA2" Guid="*">
                    <File Id="filDAEACD19A98E23735D60717DA21BF3A5" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN3_ethash_LWS128.isa" />
                </Component>
                <Component Id="cmp3F85456FA57AB6918EAAB83D5F84320D" Guid="*">
                    <File Id="fil1CAE0F71B17F761A95FBB80C2DAE53AD" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN3_ethash_LWS192.isa" />
                </Component>
                <Component Id="cmp2773654597F5762EF6ED5D90403B6DAE" Guid="*">
                    <File Id="filDE37BA34717E366B37839DBD0AE7FAF7" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN3_ethash_LWS256.isa" />
                </Component>
                <Component Id="cmpCD8A731EC1F77191F6B693B7846B89BF" Guid="*">
                    <File Id="fil1B552633A55EE74DF7A52E6D924FFD52" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN3_ethash_LWS64.isa" />
                </Component>
                <Component Id="cmpD640E8A1D9313D1A64668E1336C88B58" Guid="*">
                    <File Id="fil11B689BA4051CBAAA5A956F160392ABE" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN3_ethash_search.isa" />
                </Component>
                <Component Id="cmp4EA1D77F64DCE2D967AC7DEF05B7AF34" Guid="*">
                    <File Id="filA31FA6061F58FE54447667B73D1EA802" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN5_ethash_GenerateDAG.isa" />
                </Component>
                <Component Id="cmpD690FCB29427095D391F9BCD6929F9FE" Guid="*">
                    <File Id="fil19090EAA746366E339CB0301C30CEB63" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN5_ethash_LWS128.isa" />
                </Component>
                <Component Id="cmpF39623091151895241A03F7A77E0B50F" Guid="*">
                    <File Id="fil9EF72E928A09843C342A9F7158FFCE60" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN5_ethash_LWS192.isa" />
                </Component>
                <Component Id="cmp2114F8D35E1968AA53DE5B5A7DB7A296" Guid="*">
                    <File Id="fil1CEF2B1B7361F190D9F17E787FD31E7A" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN5_ethash_LWS256.isa" />
                </Component>
                <Component Id="cmp5362155A26E59E6609416707C4B1A5BB" Guid="*">
                    <File Id="fil73A8EDDEAADC7C22327E2C07EB740AD4" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN5_ethash_LWS64.isa" />
                </Component>
                <Component Id="cmp8FF5FEFAF4F8FDF05C06238D42D05B35" Guid="*">
                    <File Id="fil360754D07962B4997913F62DD22170E1" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN5_ethash_search.isa" />
                </Component>
                <Component Id="cmp81551989627E7B1B2F2A6457F10E2B72" Guid="*">
                    <File Id="fil7149879F092FA27BCA692889178FE060" KeyPath="yes" Source="$(var.HarvestPath)\AssemblyKernels\GCN_ethash_globaldata.isa" />
                </Component>
            </Directory>
            <Directory Id="dirE3D1E0B6837DDD4581B09A1996205535" Name="BinaryKernels">
                <Component Id="cmp888CAACFE8DF5C285C5F902C292E3A2E" Guid="*">
                    <File Id="filFC95715068891E2EA270472072B5F552" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Baffin_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmpEADCB759A3F6799EBE93CE08D2C06AC8" Guid="*">
                    <File Id="fil277D977AC62A9449B13232C192C6B0B4" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Bonaire_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmpE2BC47C0811801357A69B5A60D1B53BF" Guid="*">
                    <File Id="fil51B854390FDB2335C413207BD33201AD" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Capeverde_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmp8BB94702A93C5169F41E203A232472E9" Guid="*">
                    <File Id="filED17219F8E30155820AAC2AE2674EEAC" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Carrizo_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmp2C42A3F8F5F276D8EF8AD32D66AA382D" Guid="*">
                    <File Id="filCD94B6065DB22DF96CCD011D68391EB0" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Ellesmere_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmpF4EDCB1B9E9904E1D7E1CD7DA793810F" Guid="*">
                    <File Id="fil29A2201194D2C5961EAC871842A96D63" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Fiji_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmp3E20541CF93C9F5B19B872CA9DCCE53A" Guid="*">
                    <File Id="fil10AEBDE1F6DC44E149BEC9B3DB4A8664" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\gfx900_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmp2DC0C66479B8D7969A8436884554470E" Guid="*">
                    <File Id="filEEB3FA60CB67AA6C09A11EEE649BE918" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Hainan_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmpFF2BF3A7D1E041D2C304BE046BBB6C1A" Guid="*">
                    <File Id="fil67A289CED241106E80CFCB1C49E5AA33" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Hawaii_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmp01ADB911A4E74AB56E0A74D3A56838EC" Guid="*">
                    <File Id="filC94AFF2417E2C4B634A06D997D79C58E" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Iceland_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmpEA2680F81F23E57D70D97058CA44F2F6" Guid="*">
                    <File Id="fil31D63D43A5D6700274D1E28DA1893AFA" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Kalindi_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmp93EE5C7BC2F49A7390C10037ED18EA13" Guid="*">
                    <File Id="fil581479A7D129180685A7BAB2204A35DE" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Mullins_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmp8E05935D07F5194735191E8ABF0853AF" Guid="*">
                    <File Id="fil5048FE749BA48B8AC03E93A0058ABD20" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Oland_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmp1618C4BE99D9C653A37CECF0B1E95AFA" Guid="*">
                    <File Id="fil8D919F1B36B8E02DB66F2D7A50528492" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Pitcairn_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmpDCDBAF6174A6741AD24DF371D219305A" Guid="*">
                    <File Id="fil14E32D6FF60BFE7856B5648095D0F477" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Spectre_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmp7F7F9A6C5568F8FE5C724A698207EFCB" Guid="*">
                    <File Id="fil6FE13A4FD5BB95873D5232DA80140D6E" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Spooky_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmp673A4185747B65E72D61279FF0BC8B15" Guid="*">
                    <File Id="fil475126DFF1669ED0EF8ED6C3CE30BCC9" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Stoney_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmpCAEBCB3B99443AB9ACC78610B6BA1FC3" Guid="*">
                    <File Id="filBFDACE47B31623D612637B2D640C7B19" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Tahiti_x16r_LWS64.bin" />
                </Component>
                <Component Id="cmp1E2D9A8FEDDAB9D4B304C7D3FC9345C1" Guid="*">
                    <File Id="filD15D1CE4442C9AE28E9E1181F0652E0F" KeyPath="yes" Source="$(var.HarvestPath)\BinaryKernels\Tonga_x16r_LWS64.bin" />
                </Component>
            </Directory>
            <Directory Id="dirF10B9BF5B6922164B7A8C02D3710FE6F" Name="CLRX">
                <Component Id="cmp411316BC0F2F57C16DD96EE10EA2E023" Guid="*">
                    <File Id="filE7364353A8EAF0315BC827CE8A05B891" KeyPath="yes" Source="$(var.HarvestPath)\CLRX\CLRXAmdAsm.dll" />
                </Component>
                <Component Id="cmp21CF05CB99BC291550C306AC55EF78D5" Guid="*">
                    <File Id="fil2E5A724C7B3E8F2B1D2CF3624C5A7741" KeyPath="yes" Source="$(var.HarvestPath)\CLRX\CLRXAmdBin.dll" />
                </Component>
                <Component Id="cmpDC03EBC01ACCD5375701EC495A3031AD" Guid="*">
                    <File Id="fil89EE10E246321D8E36031E963F2A755F" KeyPath="yes" Source="$(var.HarvestPath)\CLRX\clrxasm.exe" />
                </Component>
                <Component Id="cmp52F5E8C4170C642082441A4EAF4F542F" Guid="*">
                    <File Id="fil141470DA088A452115A04E2919E16B86" KeyPath="yes" Source="$(var.HarvestPath)\CLRX\clrxdisasm.exe" />
                </Component>
                <Component Id="cmp71D7C1F575EB4B3209D8E68E29690A21" Guid="*">
                    <File Id="fil43F55EEC219B3FE59B8F11A3EFF749DC" KeyPath="yes" Source="$(var.HarvestPath)\CLRX\CLRXUtils.dll" />
                </Component>
            </Directory>
            <Directory Id="dirCE39192B2DC4D9EB1E8E5C9CDE47DC02" Name="DeviceSettings">
                <Component Id="cmp056ADCAAFC5B902B136EC74BC80567D7" Guid="*">
                    <File Id="fil93A95277B5B8E43CFF5F74FA3096EC9E" KeyPath="yes" Source="$(var.HarvestPath)\DeviceSettings\AMD Radeon 550 4.0GB Micron 8CU.json" />
                </Component>
                <Component Id="cmp67DC826B2850495DF8D21059B1344249" Guid="*">
                    <File Id="fil4EE49E730E971EBFCFDD5A8FB8952ABE" KeyPath="yes" Source="$(var.HarvestPath)\DeviceSettings\AMD Radeon R9 Nano 4.0GB 64CU.json" />
                </Component>
                <Component Id="cmpB0CF48BA6DB9F483E891083044FF3287" Guid="*">
                    <File Id="filEA6B8FC4B382AA1C5D54DF1A5BB60677" KeyPath="yes" Source="$(var.HarvestPath)\DeviceSettings\AMD Radeon RX 470 4.0GB Elpida 32CU.json" />
                </Component>
                <Component Id="cmp5C0526B10D8CE11FFA753C66FAE0B6EB" Guid="*">
                    <File Id="fil55ACA04FBB46F87820530ACD6B6B5B79" KeyPath="yes" Source="$(var.HarvestPath)\DeviceSettings\AMD Radeon RX 480 4.0GB Hynix 36CU.json" />
                </Component>
                <Component Id="cmpC270B46F3CDFC09C8EF2C0B77987C8C3" Guid="*">
                    <File Id="filB92E03B5AA4D854C3E37C04F37C834F8" KeyPath="yes" Source="$(var.HarvestPath)\DeviceSettings\AMD Radeon RX 480 8.0GB Samsung 36CU.json" />
                </Component>
                <Component Id="cmp017A3E154FAF343245B04E841544B652" Guid="*">
                    <File Id="fil877630DAFF084385ABD38ADD36EC6011" KeyPath="yes" Source="$(var.HarvestPath)\DeviceSettings\AMD Radeon RX 560 2.0GB Hynix 16CU.json" />
                </Component>
                <Component Id="cmpD47426EAA78B5C9EA6160C25A2DF4930" Guid="*">
                    <File Id="fil4E6E6DDC58296E755640B221F790A6AD" KeyPath="yes" Source="$(var.HarvestPath)\DeviceSettings\AMD Radeon RX 570 8.0GB Micron 32CU.json" />
                </Component>
                <Component Id="cmp2AA671AEEFAD04BD071B895F7765DE81" Guid="*">
                    <File Id="filE3914E8C17BE3D02A53B8AAAA552C414" KeyPath="yes" Source="$(var.HarvestPath)\DeviceSettings\AMD Radeon RX 580 8.0GB Hynix 36CU.json" />
                </Component>
                <Component Id="cmp5BF8D70A10CE28C3C54A8CA34C5A2C94" Guid="*">
                    <File Id="fil055F9739893F50779B743338DBB00529" KeyPath="yes" Source="$(var.HarvestPath)\DeviceSettings\AMD Radeon RX Vega 56 8.0GB 56CU.json" />
                </Component>
                <Component Id="cmp5E78A998CD7010B383BE1FA82A8FB425" Guid="*">
                    <File Id="filD2DCE7799561A13D1566E07BDD5AB7E1" KeyPath="yes" Source="$(var.HarvestPath)\DeviceSettings\AMD Radeon RX Vega 64 8.0GB 64CU.json" />
                </Component>
            </Directory>
            <Directory Id="dirEDCE65B1F324B9247526436A0ADAFCE7" Name="Kernels">
                <Component Id="cmpD03172C4FB9C92B1CB84095EEDC0D106" Guid="*">
                    <File Id="filFC9CE1C23CEFC5B295CB115817F6E8EC" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\aes_helper.cl" />
                </Component>
                <Component Id="cmpD8587CFAFCD570CD282A944EA1D6E61B" Guid="*">
                    <File Id="fil0F9B30D7D7C20DFE8A6AB6F5FD9D875E" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\blake.cl" />
                </Component>
                <Component Id="cmpC205C78C70140118369AB48627181A50" Guid="*">
                    <File Id="filA066477159C8EFBA2A6A5CCF75BEA4E3" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\blake256.cl" />
                </Component>
                <Component Id="cmpDE7A8B9E0E462C559D3AD08E8EAC2902" Guid="*">
                    <File Id="fil249E85D2ECF06D8424CD32F172673C14" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\bmw.cl" />
                </Component>
                <Component Id="cmpAF5E6B2471CFA5EFA330691DA6E0B80F" Guid="*">
                    <File Id="fil9FD3C62FDFE4924D37EE5167925C49F5" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\bmw256.cl" />
                </Component>
                <Component Id="cmpFDA282924CC912692DF8186D6F2FB146" Guid="*">
                    <File Id="fil66C89648AA3D3695EB86816E609DDF14" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\cryptonight.cl" />
                </Component>
                <Component Id="cmp58576C32861EC72183B5356D74202383" Guid="*">
                    <File Id="filE34F8A07E7B1DA2E612143540CA38AAC" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\cryptonight_heavy.cl" />
                </Component>
                <Component Id="cmpFC5B9BACBA80819ED3ED27C37E7BDCF5" Guid="*">
                    <File Id="fil845A68267DF1E6572468F6954DA656DD" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\cryptonight_light.cl" />
                </Component>
                <Component Id="cmp4A195DB20E182C09E67D40241FA6D4C8" Guid="*">
                    <File Id="fil9343B54630966ACA970E8155F9AAAF09" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\cubehash.cl" />
                </Component>
                <Component Id="cmp90AC2439962A3E5F1C8F675A8CED9571" Guid="*">
                    <File Id="fil6F51C618656E41EC3E6BCC917E951E09" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\echo.cl" />
                </Component>
                <Component Id="cmp919F48CD63E6CA354768F725A051AB08" Guid="*">
                    <File Id="filDCBB1AE56E352E62454EFC41AA67CC85" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\equihash-param.h" />
                </Component>
                <Component Id="cmp7991D7F7B6B82F6AEDD0F310CA0AA904" Guid="*">
                    <File Id="fil3FD0AE29512083D08369AD79C339F1C8" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\equihash.cl" />
                </Component>
                <Component Id="cmp0676614ACC20EF93C6C1CA20FB181E8A" Guid="*">
                    <File Id="filCA40258AF0DD9766A0C2BEC1AF0DE3F2" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\ethash.cl" />
                </Component>
                <Component Id="cmpDC3D32D3C9FDB07FA9C4F8E21F03C608" Guid="*">
                    <File Id="filD0FCF12702AC3F568FCB706EFAD589D1" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\ethash_compact.cl" />
                </Component>
                <Component Id="cmpAF71B33E31E85E7747800F5A1558ECD5" Guid="*">
                    <File Id="filE36684AD08C7D0E3C854266CE5DC98F2" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\ethash_genoil.cl" />
                </Component>
                <Component Id="cmpF3FC23D7E601ABA1349E74E27ABC50EB" Guid="*">
                    <File Id="fil0008D12AE27D8A1D0DB841F3C78EF29D" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\ethash_lbry.cl" />
                </Component>
                <Component Id="cmpE8DA9EA53A06CC33E7A632DFD68492CE" Guid="*">
                    <File Id="filCB8D2F5601B006730CF226A8B452E0E7" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\ethash_old.cl" />
                </Component>
                <Component Id="cmp9D3068B31794FE2AB71783EF02B3E20B" Guid="*">
                    <File Id="fil9D0805937474511FC15ECDC4AE85FA46" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\ethash_pascal.cl" />
                </Component>
                <Component Id="cmpF81C8C2338D46DE9A6232803F8D67DD3" Guid="*">
                    <File Id="filE8E4E5784DBC4B717D78FF7DCD94C1F5" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\fugue.cl" />
                </Component>
                <Component Id="cmpAFD53F6E532E4A9A63ECCE5491DB056B" Guid="*">
                    <File Id="fil62068AC4A60859ABCDD7027101A2C350" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\groestl.cl" />
                </Component>
                <Component Id="cmp071B727908F4E0AB93915D87A9C691D2" Guid="*">
                    <File Id="fil6BA8E2FBB5EF17841E4FA3FDE51ACB7A" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\groestl256.cl" />
                </Component>
                <Component Id="cmpE4EA9B672E092586DC0442A514F2E517" Guid="*">
                    <File Id="filB51DF94393170E48B5E00B30BE241FFD" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\hamsi.cl" />
                </Component>
                <Component Id="cmp2BE621869EDFFBA9D6238E0251F25A8B" Guid="*">
                    <File Id="filF31EAE6743869B32CAFC794F7A2C3C17" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\hamsi_helper.cl" />
                </Component>
                <Component Id="cmp26290B341E9F679EE66D8F583C985427" Guid="*">
                    <File Id="filA324211404A828BEBA5E564F0FB49F25" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\jh.cl" />
                </Component>
                <Component Id="cmp7518F460275F6CDAB8B557DAF975DBEB" Guid="*">
                    <File Id="fil754B9144B4F2FCD099A95577EE97EAA4" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\keccak.cl" />
                </Component>
                <Component Id="cmp3743781BCFF228712B036B7A472A089F" Guid="*">
                    <File Id="filF8BB2887C897DC317B1B5BAA31E871CD" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\keccak1600.cl" />
                </Component>
                <Component Id="cmpD5AA7A39E910F1B3525974A72467001E" Guid="*">
                    <File Id="filEB760A569644D31EB10E0E138BCD15F5" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\lbry.cl" />
                </Component>
                <Component Id="cmpAAC830CEF24EF6A5007BFC68E3936249" Guid="*">
                    <File Id="fil5F689020F7AFF5B7E009639C79C555AF" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\luffa.cl" />
                </Component>
                <Component Id="cmp1EB0A17E93FC07AD2AF97E264C73F20F" Guid="*">
                    <File Id="filAB78B589F9036C30763B2657BD89B5D3" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\Lyra2REv2.cl" />
                </Component>
                <Component Id="cmp9F4F494D98BF4FB90F4572BF4AC8E0C3" Guid="*">
                    <File Id="fil559567693E8009FF6C8EC9EA99BAB00A" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\Lyra2v2.cl" />
                </Component>
                <Component Id="cmpF04B43805AC432835868896E84C01DCA" Guid="*">
                    <File Id="filACE743F1FC3294D69B1D8679578F2124" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\neoscrypt.cl" />
                </Component>
                <Component Id="cmp4CF033F20517B5E3848B8269D8C1B05E" Guid="*">
                    <File Id="filD86468690E320C811A2C8C50A4665190" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\pascal.cl" />
                </Component>
                <Component Id="cmp8E4EEF318F1CD1F39A6E702EE7E1D66B" Guid="*">
                    <File Id="fil2E671D211061E34EF52BA7FDA5FD9CF2" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\ripemd160.cl" />
                </Component>
                <Component Id="cmp8EFE29284A6C027096281AF0F2395106" Guid="*">
                    <File Id="fil31AE4E84E4C1B491662959CB6BDBC1BC" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\sha256.cl" />
                </Component>
                <Component Id="cmpE4D7A77FCC8A513CB55232BD39750E54" Guid="*">
                    <File Id="fil65D5A6F32F0114BFA324FF1040B01AB5" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\shabal.cl" />
                </Component>
                <Component Id="cmpC9BF3AED3F6B50065FCCBC75BF4DFA72" Guid="*">
                    <File Id="filE84BF3FAE427BA51AE0A85EDF2895288" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\shavite.cl" />
                </Component>
                <Component Id="cmp547D5616A74D12F3F67001CCF60730BD" Guid="*">
                    <File Id="fil8DFC803D4187C5566A03DB997ACC51DE" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\simd.cl" />
                </Component>
                <Component Id="cmp3B474D4062287F853D17D6EC210A02F4" Guid="*">
                    <File Id="fil812B6C079DC55DB2A5287CB4079B5C17" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\skein.cl" />
                </Component>
                <Component Id="cmp4D70F7BE09154BA1BE0A04CC28DEAAFA" Guid="*">
                    <File Id="filB6836C000E9125D73DE528DA0F412EB2" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\skein256.cl" />
                </Component>
                <Component Id="cmp0778386C9837D7DC0935A0426AA37EFC" Guid="*">
                    <File Id="filACAA52FA77CF4A51639D3063C9C36AA8" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\whirlpool.cl" />
                </Component>
                <Component Id="cmpEE22CB4186539D92D28090C9A1949E68" Guid="*">
                    <File Id="fil250CD84AE89024DB1F17AEDC7154D269" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\wolf-aes.cl" />
                </Component>
                <Component Id="cmp16E957EE5CAC220E787A5A0775F673E5" Guid="*">
                    <File Id="filBB75447FDE8ECEC66CC86E8D28A1FD2B" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\wolf-sha512.cl" />
                </Component>
                <Component Id="cmpEB1AD5C41FCC7C26871F61F314BB095E" Guid="*">
                    <File Id="filE277610FBDD799FF4A47C6EEA0AA8E37" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\wolf-skein.cl" />
                </Component>
                <Component Id="cmpFF35DD1F688BFAD6B84E67DBA8027105" Guid="*">
                    <File Id="fil01A4A6DC8BFE057092FE0505BEB03757" KeyPath="yes" Source="$(var.HarvestPath)\Kernels\x16r.cl" />
                </Component>
            </Directory>
            <Directory Id="dirCF01D5040FD9778C6964A1321276CBAE" Name="Logs">
                <Component Id="cmpA19ED119AC4978B6CA9B22533BF55C08" Guid="*">
                    <File Id="fil51ADB7852263822E919B19F4FE454AFB" KeyPath="yes" Source="$(var.HarvestPath)\Logs\bios0007.log" />
                </Component>
                <Component Id="cmpF432A0B0DA858A64B6C5DC128B32FD25" Guid="*">
                    <File Id="fil52ABB0DC64E48A595555499968FF2CB3" KeyPath="yes" Source="$(var.HarvestPath)\Logs\bios0013.log" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmp5B10929762EB39865B06B403922ED3D7" />
            <ComponentRef Id="cmp16CB201398DCF7F5BF81B25456528975" />
            <ComponentRef Id="cmpA8DE19DC552E3BCD08DDD88DE2C5CAE8" />
            <ComponentRef Id="cmp69591F30184324681A0EF8373EA9D2A6" />
            <ComponentRef Id="cmp8400620DECF2655151D483066AD25190" />
            <ComponentRef Id="cmp3464F8730E573D338954EC7195CFB4A4" />
            <ComponentRef Id="cmp771DEE5999A37C1474BA4C695E6F9046" />
            <ComponentRef Id="cmp60805430DA62A620ADC712537D30F06A" />
            <ComponentRef Id="cmp71593FBA29491CED3DC58E994BB05D4F" />
            <ComponentRef Id="cmpB80EB57EF2904D1A74E508B15C150404" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpEFB368FCE043485F0641DD456E80FCFD" />
            <ComponentRef Id="cmp28FB22B28D9FFBC15D2050E172F311EF" />
            <ComponentRef Id="cmp46AD2A71B79D2F1399F269A08A3249D2" />
            <ComponentRef Id="cmpE4E45A049C516CBDEFB44E39E6BBAA0A" />
            <ComponentRef Id="cmp1D9FB55DD5BDB00D013752713BAA3FA2" />
            <ComponentRef Id="cmp3F85456FA57AB6918EAAB83D5F84320D" />
            <ComponentRef Id="cmp2773654597F5762EF6ED5D90403B6DAE" />
            <ComponentRef Id="cmpCD8A731EC1F77191F6B693B7846B89BF" />
            <ComponentRef Id="cmpD640E8A1D9313D1A64668E1336C88B58" />
            <ComponentRef Id="cmp4EA1D77F64DCE2D967AC7DEF05B7AF34" />
            <ComponentRef Id="cmpD690FCB29427095D391F9BCD6929F9FE" />
            <ComponentRef Id="cmpF39623091151895241A03F7A77E0B50F" />
            <ComponentRef Id="cmp2114F8D35E1968AA53DE5B5A7DB7A296" />
            <ComponentRef Id="cmp5362155A26E59E6609416707C4B1A5BB" />
            <ComponentRef Id="cmp8FF5FEFAF4F8FDF05C06238D42D05B35" />
            <ComponentRef Id="cmp81551989627E7B1B2F2A6457F10E2B72" />
            <ComponentRef Id="cmp888CAACFE8DF5C285C5F902C292E3A2E" />
            <ComponentRef Id="cmpEADCB759A3F6799EBE93CE08D2C06AC8" />
            <ComponentRef Id="cmpE2BC47C0811801357A69B5A60D1B53BF" />
            <ComponentRef Id="cmp8BB94702A93C5169F41E203A232472E9" />
            <ComponentRef Id="cmp2C42A3F8F5F276D8EF8AD32D66AA382D" />
            <ComponentRef Id="cmpF4EDCB1B9E9904E1D7E1CD7DA793810F" />
            <ComponentRef Id="cmp3E20541CF93C9F5B19B872CA9DCCE53A" />
            <ComponentRef Id="cmp2DC0C66479B8D7969A8436884554470E" />
            <ComponentRef Id="cmpFF2BF3A7D1E041D2C304BE046BBB6C1A" />
            <ComponentRef Id="cmp01ADB911A4E74AB56E0A74D3A56838EC" />
            <ComponentRef Id="cmpEA2680F81F23E57D70D97058CA44F2F6" />
            <ComponentRef Id="cmp93EE5C7BC2F49A7390C10037ED18EA13" />
            <ComponentRef Id="cmp8E05935D07F5194735191E8ABF0853AF" />
            <ComponentRef Id="cmp1618C4BE99D9C653A37CECF0B1E95AFA" />
            <ComponentRef Id="cmpDCDBAF6174A6741AD24DF371D219305A" />
            <ComponentRef Id="cmp7F7F9A6C5568F8FE5C724A698207EFCB" />
            <ComponentRef Id="cmp673A4185747B65E72D61279FF0BC8B15" />
            <ComponentRef Id="cmpCAEBCB3B99443AB9ACC78610B6BA1FC3" />
            <ComponentRef Id="cmp1E2D9A8FEDDAB9D4B304C7D3FC9345C1" />
            <ComponentRef Id="cmp411316BC0F2F57C16DD96EE10EA2E023" />
            <ComponentRef Id="cmp21CF05CB99BC291550C306AC55EF78D5" />
            <ComponentRef Id="cmpDC03EBC01ACCD5375701EC495A3031AD" />
            <ComponentRef Id="cmp52F5E8C4170C642082441A4EAF4F542F" />
            <ComponentRef Id="cmp71D7C1F575EB4B3209D8E68E29690A21" />
            <ComponentRef Id="cmp056ADCAAFC5B902B136EC74BC80567D7" />
            <ComponentRef Id="cmp67DC826B2850495DF8D21059B1344249" />
            <ComponentRef Id="cmpB0CF48BA6DB9F483E891083044FF3287" />
            <ComponentRef Id="cmp5C0526B10D8CE11FFA753C66FAE0B6EB" />
            <ComponentRef Id="cmpC270B46F3CDFC09C8EF2C0B77987C8C3" />
            <ComponentRef Id="cmp017A3E154FAF343245B04E841544B652" />
            <ComponentRef Id="cmpD47426EAA78B5C9EA6160C25A2DF4930" />
            <ComponentRef Id="cmp2AA671AEEFAD04BD071B895F7765DE81" />
            <ComponentRef Id="cmp5BF8D70A10CE28C3C54A8CA34C5A2C94" />
            <ComponentRef Id="cmp5E78A998CD7010B383BE1FA82A8FB425" />
            <ComponentRef Id="cmpD03172C4FB9C92B1CB84095EEDC0D106" />
            <ComponentRef Id="cmpD8587CFAFCD570CD282A944EA1D6E61B" />
            <ComponentRef Id="cmpC205C78C70140118369AB48627181A50" />
            <ComponentRef Id="cmpDE7A8B9E0E462C559D3AD08E8EAC2902" />
            <ComponentRef Id="cmpAF5E6B2471CFA5EFA330691DA6E0B80F" />
            <ComponentRef Id="cmpFDA282924CC912692DF8186D6F2FB146" />
            <ComponentRef Id="cmp58576C32861EC72183B5356D74202383" />
            <ComponentRef Id="cmpFC5B9BACBA80819ED3ED27C37E7BDCF5" />
            <ComponentRef Id="cmp4A195DB20E182C09E67D40241FA6D4C8" />
            <ComponentRef Id="cmp90AC2439962A3E5F1C8F675A8CED9571" />
            <ComponentRef Id="cmp919F48CD63E6CA354768F725A051AB08" />
            <ComponentRef Id="cmp7991D7F7B6B82F6AEDD0F310CA0AA904" />
            <ComponentRef Id="cmp0676614ACC20EF93C6C1CA20FB181E8A" />
            <ComponentRef Id="cmpDC3D32D3C9FDB07FA9C4F8E21F03C608" />
            <ComponentRef Id="cmpAF71B33E31E85E7747800F5A1558ECD5" />
            <ComponentRef Id="cmpF3FC23D7E601ABA1349E74E27ABC50EB" />
            <ComponentRef Id="cmpE8DA9EA53A06CC33E7A632DFD68492CE" />
            <ComponentRef Id="cmp9D3068B31794FE2AB71783EF02B3E20B" />
            <ComponentRef Id="cmpF81C8C2338D46DE9A6232803F8D67DD3" />
            <ComponentRef Id="cmpAFD53F6E532E4A9A63ECCE5491DB056B" />
            <ComponentRef Id="cmp071B727908F4E0AB93915D87A9C691D2" />
            <ComponentRef Id="cmpE4EA9B672E092586DC0442A514F2E517" />
            <ComponentRef Id="cmp2BE621869EDFFBA9D6238E0251F25A8B" />
            <ComponentRef Id="cmp26290B341E9F679EE66D8F583C985427" />
            <ComponentRef Id="cmp7518F460275F6CDAB8B557DAF975DBEB" />
            <ComponentRef Id="cmp3743781BCFF228712B036B7A472A089F" />
            <ComponentRef Id="cmpD5AA7A39E910F1B3525974A72467001E" />
            <ComponentRef Id="cmpAAC830CEF24EF6A5007BFC68E3936249" />
            <ComponentRef Id="cmp1EB0A17E93FC07AD2AF97E264C73F20F" />
            <ComponentRef Id="cmp9F4F494D98BF4FB90F4572BF4AC8E0C3" />
            <ComponentRef Id="cmpF04B43805AC432835868896E84C01DCA" />
            <ComponentRef Id="cmp4CF033F20517B5E3848B8269D8C1B05E" />
            <ComponentRef Id="cmp8E4EEF318F1CD1F39A6E702EE7E1D66B" />
            <ComponentRef Id="cmp8EFE29284A6C027096281AF0F2395106" />
            <ComponentRef Id="cmpE4D7A77FCC8A513CB55232BD39750E54" />
            <ComponentRef Id="cmpC9BF3AED3F6B50065FCCBC75BF4DFA72" />
            <ComponentRef Id="cmp547D5616A74D12F3F67001CCF60730BD" />
            <ComponentRef Id="cmp3B474D4062287F853D17D6EC210A02F4" />
            <ComponentRef Id="cmp4D70F7BE09154BA1BE0A04CC28DEAAFA" />
            <ComponentRef Id="cmp0778386C9837D7DC0935A0426AA37EFC" />
            <ComponentRef Id="cmpEE22CB4186539D92D28090C9A1949E68" />
            <ComponentRef Id="cmp16E957EE5CAC220E787A5A0775F673E5" />
            <ComponentRef Id="cmpEB1AD5C41FCC7C26871F61F314BB095E" />
            <ComponentRef Id="cmpFF35DD1F688BFAD6B84E67DBA8027105" />
            <ComponentRef Id="cmpA19ED119AC4978B6CA9B22533BF55C08" />
            <ComponentRef Id="cmpF432A0B0DA858A64B6C5DC128B32FD25" />
        </ComponentGroup>
    </Fragment>
</Wix>