<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/UIExtension">
  <Product Id="{C393337D-1837-4765-996C-33C6C50BF1C3}" Name="Gateless Gate Sharp" Language="1033" Version="!(bind.fileVersion.filC38C7164BB644943D4E7CABCE338C149)" Manufacturer="Zawawa Software LLC" UpgradeCode="{548B8FA3-94B1-4EB1-87FA-986C66752324}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="WiXSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="HeatGenerated" />
    </Feature>

    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Gateless Gate Sharp" />

    <Property Id="WixShellExecTarget" Value="[#filC38C7164BB644943D4E7CABCE338C149]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />
  
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)LICENSE.rtf" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="Gateless Gate Sharp"
              Description="Gateless Gate Sharp"
              Target="[#filC38C7164BB644943D4E7CABCE338C149]"
              WorkingDirectory="INSTALLFOLDER"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software\ZawawaSoftwareLLC\GatelessGateSharp"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
        </Component>
      </Directory>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="COMPANYFOLDER" Name="Zawawa Software LLC">
          <Directory Id="INSTALLFOLDER" Name="Gateless Gate Sharp">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Gateless Gate Sharp"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="COMPANYFOLDER">
      <Component Id="CMP_COMPANYFOLDER"
                 Guid="{F4B08850-B822-4BA4-A791-C647917DA197}"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="CMP_INSTALLFOLDER"
                 Guid="{430D8CC6-A1A7-4013-96A7-A976A67E1E4F}"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="ApplicationShortcut" Guid="{440FAE8E-5EA7-4E1F-9421-CC499FF13D47}" Win64="yes" Directory="ApplicationProgramsFolder">
        <Shortcut
            Id="ApplicationStartMenuShortcut"
            Name="Gateless Gate Sharp"
            Description="Gateless Gate Sharp, a multi-algorithm OpenCL miner"
            Target="[#filC38C7164BB644943D4E7CABCE338C149]"
            WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue
            Root="HKCU"
            Key="Software\ZawawaSoftwareLLC\GatelessGateSharp"
            Name="installed" Type="integer" Value="1"
            KeyPath="yes" />
      </Component>
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </ComponentGroup>
  </Fragment>
</Wix>




